@media(max-width:500px){
body{
    
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;

    
    
}
nav{
    display: flex;
    background-color: #A51A25;
    padding: 20px;
}
.title{
    
    color: white;
   
}

#menu::before{
    content: " ☰";
    
}
#menu.show::before {
    content: "X";
  }
  .active::before { 
    content: "📍";  /* just a wayfinding symbol for the user */
  }
#menu{
    font-size: 1.45rem;
    position: absolute;
    right:20px;
    top:25px;
   
}
.navigation li{
    display: none;
}
.show li{
    display: block;
}
.navigation a {
    display: block;
    padding: 2.3rem;
    margin: 0;
    background-color:#A51A25 ;
    color: white;
    text-decoration: none;
    text-align: center;
    
  }
  #card{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tarjeta{
    background-color:  #ECF0F1;
    padding: 20px;
    flex: 0 1 calc(33.33% - 10px);
    margin: 10px;
  }
  footer {
    background: #474044;
    margin-top: 10px;
    height: 70px;
    text-align: center;
    color: white;
  }

}
