@media (min-width:500px){
    :root{
        --background-color:#A51A25;
        --secondary-color:#FAF2A1;
        --text-color:white ;
    }
    body{
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;
    }
header{
    display: flex;
    background-color:var(--background-color) ;
    color:var(--text-color);
    padding: 20px;
    text-align: center;
   
}
h3{
    margin-left: 150px;
}
p{
    color: black;
}

img{
    position: absolute;
    top:20px;
    left:20px;
    width: 120px;
}
.navigation{
    display: flex;
    position: absolute;
    right:50px;
   flex-wrap: wrap;
   gap:40px;
    
}
li {
    list-style: none;
   
}
.navigation a{
    color: white;
    text-decoration: none;
}
#menu{
    display: none;
}
.container{
    display: flex;
}
.card{
    background-color:#A51A25;
    width:200px;
   
}
.card img{
    margin-top:150px;
}


}