@media (min-width:500px){
    :root{
        --background-color:#A51A25;
        --secondary-color:#FAF2A1;
        --text-color:white ;
    }
    body{
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;
    }
header{
    display: flex;
    background-color:var(--background-color) ;
    color:var(--text-color);
    padding: 20px;
    text-align: center;
   
}
.title{
    margin-left: 150px;
}
p{
    color: black;
}

#card{
   background-color: #FAF2A1;
   display:flex;
   flex-wrap: wrap; 
   justify-content: space-between;
   gap: 10px;        
}
.tarjeta{
   background-color:  #ECF0F1;
   
   width:300px;
   border-radius: 30px;   
   flex: 0 1 calc(33.33% - 10px); /* Establece el ancho de cada div, restando el espacio */
   box-sizing: border-box;       /* Asegura que el padding y el borde estén incluidos en el ancho */
   padding: 20px;                /* Espaciado interno */
   border: 1px solid #ccc;       /* Solo para visualización */
   text-align: center;  
}

.navigation{
    display: flex;
    position: absolute;
    right:50px;
   flex-wrap: wrap;
   gap:40px;
    
}
li {
    list-style: none;
   
}
.navigation a{
    color: white;
    text-decoration: none;
}
#menu{
    display: none;
}
.container{
    display: flex;
}
.card{
   
    background-color:#A51A25;
    width:200px;
   
}
.card img{
    margin-top:150px;
}
footer {
    display:flex;
    background: #474044;
  
    text-align: center;
    color: white;
    justify-content: space-around;
    padding:20px;
  }
.footer-section{
    flex:1;
    text-align: center;;

}
  #toggle-view:checked  {
    display: block; /* Show the menu when the toggle is checked */
    
}
a{
    list-style:none;
    text-decoration: none;
    color: white;;
}
.grid-view {
    display: flex;
}

/* Vista en lista */
.list-view {
    display: block; /* Cambia a block para la vista en lista */
}
.img-container{
    background-color: aquamarine;
}

}