@media (max-width: 500px) {
  body {
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;
    max-width: 500px;
    padding: 0;
    margin: 10px;
    display: block;
    text-align: center;
  }

  h1 {
    color: white;
    font-size: larger;
    padding-top: 30px;
    padding-left: 30px;
  }
  h2 {
    background-color: #474044;
    color: white;
  }
  .gerard {
    display: flex;
    padding: 10px;
  }
  #menu::before {
    content: "☰";
  }
  header {
    background-color: black;
  }
  .cuadro {
    list-style: none;
    background-color: #603c2f;
    padding: 10px;
    color: white;
    margin: 10px 20px 20px 0;
  }
  footer {
    background-color: antiquewhite;
  }
  #menu {
    color: black;
    margin-top: 20px;
    margin-left: 300px;
    text-decoration: none;
    display: block;
    list-style: none;
    font-size: 0.5rem 0.75rem;
  }
  .navigation {
    list-style: none;
    margin: 10px auto;
    max-width: auto;
    text-align: center;
  }
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 2rem;
    margin: 0px;
    background-color: black;
    color: white;
    list-style: none;
  }
  .show li {
    display: block;
  }
}
